@media (max-width: 800px){

.hidden {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(61, 60, 59);
    box-shadow: 0 0 10px black;
}
.element:nth-child(3){
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.element__solutions {
    display: block;
    padding-bottom: 30px;
    width: 100%;
}

.element__description {
    padding-left: 40px;
}




}
